@import "../../styles/mixin";

.resultList {
  display: flex;
  flex-direction: column;
  margin-bottom: 74px;
  @include mobile {
    margin-bottom: 10px;
  }
}

.downloadWrap {
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-top: 48px;
  margin-bottom: 24px;
  font-size: 16px;
  cursor: pointer;
  user-select: none;

  &_iconWrap {
    width: 24px;
    height: 24px;
    background: #242927;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 8px;
  }

  &_text {
    &:hover {
      text-decoration: underline;
    }
  }
}