* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  word-wrap: break-word;
}

body {
  background-color: #030F09 !important;
  font-family: 'Montserrat';
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #938f8f;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #c1c1c1;
  border-radius: 10px;
}